.profile {
    width: 260px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background: white;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.tag, .location {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    background-color: #d3d3d3;
    border-top: 2px solid #656565;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    height: 60px;
    padding: 0;
}

.stats li {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-right: 2px solid #656565;
}

.stats li:last-child {
    border-right: none;
}

.label {
    color: #000;
}

.quantity {
    font-weight: bold;
    color: #000;
}
